{{#each @map.sextants as |sextant|}}
  <div
    local-class="sextant sextant-{{sextant.map.tierColor}} {{unless sextant.isInRange "out-of-range"}}"
    style={{css-offset sextant.map.offsetLeft sextant.map.offsetTop}}
  ></div>
{{/each}}
