$trade-page-top-margin: 46px;

.side-panel {
  width: 450px;
}

.top-toolbar {
  position: absolute;
  top: 0;
  width: 100%;
  height: $trade-page-top-margin;
}

.trade-browser {
  height: 100%;
  padding-top: $trade-page-top-margin;
}
