<div class="d-flex">
  {{#each this.widgetsGrid as |columnWidgets columnIndex|}}
    <div local-class="column" class="px-1">
      {{#each columnWidgets as |widget|}}
        {{pow-dashboard-widget
          widget=widget
          isLocked=@widgetsAreLocked
          onUpdate=(action @updateWidget)
          onDelete=(action @deleteWidget)
        }}
      {{/each}}

      {{#unless @widgetsAreLocked}}
        {{pow-page/dashboard-page/widget-board/add-dropdown
          onWidgetAdd=(action @addWidget columnIndex columnWidgets.length)
        }}
      {{/unless}}
    </div>
  {{/each}}

  {{#unless @widgetsAreLocked}}
    <div local-class="column" class="mx-1">
      {{pow-page/dashboard-page/widget-board/add-dropdown
        onWidgetAdd=(action @addWidget this.widgetsGrid.length 0)
      }}
    </div>
  {{/unless}}
</div>
